.test {
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.group-move {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
}
.v-appear,
.v-enter,
.v-leave-active,
.test-appear,
.test-enter,
.test-leave-active,
.test-reflow-enter,
.test-reflow-leave-to,
.hello,
.bye.active,
.changed-enter {
  opacity: 0;
}
.test-reflow-leave-active,
.test-reflow-enter-active {
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.test-reflow-leave-from {
  opacity: 0.9;
}
.test-anim-enter-active {
  animation: test-enter 300ms;
  -webkit-animation: test-enter 300ms;
}
.test-anim-leave-active {
  animation: test-leave 300ms;
  -webkit-animation: test-leave 300ms;
}
.test-anim-long-enter-active {
  animation: test-enter 600ms;
  -webkit-animation: test-enter 600ms;
}
.test-anim-long-leave-active {
  animation: test-leave 600ms;
  -webkit-animation: test-leave 600ms;
}
@keyframes test-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes test-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes test-leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes test-leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
